{% extends 'catalog/base.html' %}
{% load media_tag %}
{% block content %}

<div class="col">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>Название продукта</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>Описание продукта</td>
                    <td>{{ object.description }}</td>
                </tr>
                <tr>
                    <td>Дата создания</td>
                    <td>{{ object.created_at }}</td>
                </tr>
                <img src="{% media_tag object.image %}" alt="Изображение" width="150" height="150"/>
            </table>
            <a href="{% url 'catalog:list_category' %}" class="btn btn-primary">К списку товаров</a>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
{% endblock %}